<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackstar.eblog.mapper.MUserCollectionMapper">

    <select id="selectCollections" resultType="com.blackstar.eblog.vo.CollectionVo">
        SELECT
            p.id,
            p.title,
            p.view_count as viewCount,
            p.comment_count as commentCount,
            c.created as collectDate
        FROM
            m_post p
        LEFT JOIN m_user_collection c ON p.id = c.post_id

        ${ew.customSqlSegment}
    </select>
</mapper>
